---
import Button from '@/components/ui/Button.astro';

const { question, answer, name, role } = Astro.props;
---

<article class="question-card">
  <h3 class="question">{question}</h3>
  <p class="answer">{answer}</p>
  <Button label="Leer más" />
</article>
<style>
  .question-card {
    background-color: var(--dark-color);
    border: 1px solid var(--gray-color-15);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
  }

  .rating {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
  }

  .star {
    font-size: 20px;
    color: var(--gray-color-60);
  }

  .star.filled {
    color: var(--stars-color);
  }

  .question {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: var(--text-color);
  }

  .answer {
    font-size: 1em;
    margin-bottom: 12px;
    color: var(--text-color);
    white-space: pre-line;
  }

  .author {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .name {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    color: var(--text-color);
  }

  .role {
    font-size: 0.9em;
    color: var(--gray-color-60);
  }
</style>
