---
import QuestionCard from './components/QuestionCard.astro';
import Button from '@/components/ui/Button.astro';

import NavigationStars from '@assets/navigation-star.svg';

interface Question {
  question: string;
  answer: string;
}

const { questions } = Astro.props;
---

<section class="client-reviews" id="comments">
  <div class="container">
    <span class="navigation-stars">
      <NavigationStars class="star-1" />
      <NavigationStars class="star-2" />
      <NavigationStars class="star-3" />
    </span>
    <h2 class="section-title">Preguntas frecuentes</h2>
    <div class="intro">
      <p class="description">
        Encuentre respuestas a sus preguntas más comunes sobre nuestros
        servicios y procesos.
      </p>
      <Button label="Ver todas las preguntas frecuentes" />
    </div>
  </div>
  <div class="reviews">
    {
      questions.map((question: Question, index: number) => (
        <QuestionCard
          key={index}
          question={question.question}
          answer={question.answer}
        />
      ))
    }
  </div>
</section>
<style>
  .client-reviews {
    padding: 60px 20px;
    margin-inline: 5em;
    background-color: var(--dark-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    position: relative;
    max-width: 80em;
    width: 100%;
  }

  .section-title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .description {
    color: var(--gray-color-60);
    font-size: medium;
  }

  .reviews {
    display: flex;
    width: 100%;
    gap: 30px;
    max-width: 80em;
    justify-content: space-between;
  }

  .star-1 {
    width: 20px;
    opacity: 0.8;
  }

  .star-2 {
    width: 15px;
    opacity: 0.8;
  }

  .star-3 {
    width: 10px;
    opacity: 0.6;
  }

  .navigation-stars {
    position: absolute;
    left: -20px;
  }

  @media screen and (max-width: 768px) {
    .intro {
      flex-direction: column;
      gap: 20px;
    }

    .reviews {
      flex-direction: column;
      gap: 30px;
    }

    .navigation-stars {
      display: none;
    }
  }
</style>
