---

---

<section class="announcement-bar">
  <div class="container">
    <p class="announcement-text">
      ✨ Descubre la propiedad de tus sueños con Tubini
    </p>
    <a href="#features" class="learn-more">Mas Información</a>
  </div>
  <p class="close-button">x</p>
</section>
<style>
  .announcement-bar {
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: space-between;
  }

  .container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .announcement-text {
    margin: 0;
    font-size: medium;
  }

  .learn-more {
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: underline;
  }

  .learn-more:hover {
    color: var(--primary-color)
  }

  .close-button {
    position: absolute;
    right: 20px;
    padding: 5px;
    cursor: pointer;
  }

  .close-button:hover {
    color: var(--primary-color);
  }
</style>
