---
import TubiniLogo from '@assets/tubini-logo.svg';
import EmailSend from '@assets/email-send.svg';
import FacebookIcon from '@assets/logos/facebook.svg';
import LinkedInIcon from '@assets/logos/linkedin.svg';
import InstagramIcon from '@assets/logos/instagram.svg';
import TiktokIcon from '@assets/logos/tiktok.svg';
---

<footer class="footer" id="contact">
  <div class="container">
    <div>
      <TubiniLogo />
      <div class="newsletter">
        <label class="newsletter-label" for="email"
          >Recibe nuestras actualizaciones</label
        >
        <div class="newsletter-form">
          <input
            class="newsletter-input"
            type="email"
            id="email"
            placeholder="Ingresa tu correo electrónico"
          />
          <EmailSend class={'send'} />
        </div>
      </div>
    </div>
    <nav class="footer-nav">
      <div>
        <h4>Contáctanos</h4>
        <div>
          <p>Email: <a href="mailto:contacto@tubini.com.bo">contacto@tubini.com.bo</a></p>
          <p>Teléfono: <a href="http://wa.me/59164961117">+591 64961117</a></p>
          <p>
            Nuestras oficinas <a
              class="location"
              href="https://maps.google.com/?q=Tubini"
              target="_blank"
              rel="noopener noreferrer">Av. America entre Melchor Urquidi y Miguel Aguirre</a
            >
          </p>
        </div>
      </div>
    </nav>
  </div>
  <div class="terms">
    <span class="legal">
      <p class="copyright">© 2024 Tubini. Todos los derechos reservados.</p>
      <p class="terms-text">Términos y condiciones</p>
    </span>
    <span class="socials">
      <a
        href="https://www.facebook.com/tubini"
        target="_blank"
        rel="noopener noreferrer"><FacebookIcon class={'icon'} /></a
      >
      <a
        href="https://www.linkedin.com/company/tubini"
        target="_blank"
        rel="noopener noreferrer"><LinkedInIcon class={'icon'} /></a
      >
      <a
        href="https://www.instagram.com/tubini_app"
        target="_blank"
        rel="noopener noreferrer"><InstagramIcon class={'icon'} /></a
      >
      <a
        href="https://www.tiktok.com/@tubiniapp"
        target="_blank"
        rel="noopener noreferrer"><TiktokIcon class={'icon'} /></a
      >
    </span>
  </div>
</footer>
<style>
  .footer {
    color: var(--text-color);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--gray-color);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 100px;
  }

  .legal {
    display: flex;
    align-items: center;
  }

  .terms {
    display: flex;
    background-color: var(--gray-color);
    justify-content: space-between;
    padding-inline: 50px;
    gap: 20px;
  }

  .socials {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  .newsletter-label {
    font-size: 1.2em;
    color: var(--gray-color-60);
  }

  .newsletter-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-color-15);
    background-color: transparent;
    width: 350px;
  }

  .newsletter-form {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
  }

  .send {
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: 20px;
  }

  .location {
    color: var(--primary-color);
    text-decoration: none;
  }

  .location:hover {
    text-decoration: underline;
  }

  .send:hover {
    transform: translateY(-2px);
  }

  .footer-nav h4 {
    margin-bottom: 20px;
  }

  .icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }

    .terms {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }

    .legal {
      flex-direction: column;
      gap: 10px;
    }

    .socials {
      justify-content: center;
    }

    .newsletter-input {
      width: 100%;
    }
  }
</style>
